/* Configurações de layout */
body {
    background-color: var(--bg-main);
    margin: 0;
}


/* Títulos */
.main-title {
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.instruction {
    font-size: 1.1rem;
    color: var(--black);
    margin-bottom: 50px;
}

/* Grid de Cards */
.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
}

.card {
    background-color: var(--bg-card);
    border-radius: 12px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s ease;
    cursor: pointer;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.card:hover {
    transform: translateY(-5px);
}

/* Estilos específicos por cor */
.card-orange {
    border-color: var(--primary);
}

.card-orange h2, .card-orange .icon {
    color: var(--primary);
}

.card-red {
    border-color: var(--secondary);
}

.card-red h2, .card-red .icon {
    color: var(--secondary);
}

/* Ícones e textos dos cards */
.icon span {
    font-size: 4rem;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.6rem;
    margin: 15px 0;
}

.card p {
    color: var(--black);
    line-height: 1.4;
    text-align: center;
}

/* Ajuste para o card debaixo ficar centralizado */
.card-full {
    grid-column: 1 / span 2;
}


.card {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    text-align: center;
}

/* Ajuste para telas menores */
@media (max-width: 480px) {
    .logo img {
        height: 35px;         /* Reduz um pouco em telas de celular */
    }
}

/* Responsividade básica */
@media (max-width: 768px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .card-full {
        grid-column: auto;
    }
}