/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GARANTE ALTURA TOTAL */
html, body {
    height: 100%;
    font-family: var(--font-primary);
}

/* FUNDO COM GRADIENTE */
.background-container {
    min-height: 100vh; /* não corta */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-login);
    padding: 20px; /* respiro em telas pequenas */
}

/* CARD */
.login-card {
    background-color: var(--bg-card);
    padding: 40px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

/* LOGO */
.logo img {
    width: 120px; /* controla tamanho */
    height: auto;
    margin-bottom: 20px;
}

/* TITULO */
h1 {
    font-size: 22px;
    color: var(--black);
    margin-bottom: 8px;
}

/* TEXTO */
p {
    font-size: 14px;
    color: var(--black);
    margin-bottom: 25px;
}

/* INPUT GROUP */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

/* LABEL */
.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--black);
}

/* INPUT */
.input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid var(--gray-light);
    background-color: var(--white);
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

/* FOCO */
.input-group input:focus {
    border-color: var(--primary);
}

/* BOTÃO */
.btn-acessar {
    width: 100%;
    padding: 14px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* HOVER */
.btn-acessar:hover {
    background-color: var(--primary-hover);
}

