:root {
    
  /*  VARIÁVEIS GLOBAIS  (ALUNO) */
  --primary: #FF8800; /*Laranja*/
  --primary-hover: #ff7a00;
  --secondary: #FD001A; /*Vermelho*/
  --secondary-hover: #d90016;

  /* GRADIENTE DO LOGIN */
  --gradient-login: linear-gradient(
    135deg,
    #f87c00 47%,
    #ede4dc 96%
  );

  /* NEUTROS */
  --white: #ffffff;
  --black: #000000;

  /*  CINZAS */
  --gray-light: #E3E3E3;  
  --gray-dark: #D9D9D9; 

  /* BACKGROUNDS */
  --bg-main: #f8f9fa;
  --bg-card: #ffffff;
  --bg-info: #7B53FF; /*Aquele botão roxo*/

  /* Verde */
  --validado: #6DB500;

  /* Fonte */
  --font-primary: 'Instrument Sans', sans-serif;

  /* 🌫 SOMBRA */
  --shadow: 0 4px 12px rgba(0,0,0,0.08);
}

body {
  font-family: var(--font-primary);
}

.header-global {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.logo {
    height: 60px;
}

.btn-back {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.btn-back:hover {
    color: var(--primary-hover);
}

/* CONTAINER GLOBAL */
.page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

/* HEADER GLOBAL */
.header-global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    height: 150px;
}

.btn-back {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

/* CARD PADRÃO */
.card {
    border-radius: 10px;
    padding: 20px;
    background: var(--white);
    border: 2px solid transparent;
    box-shadow: var(--shadow);
}