:root {
  --primary: #FF8800;
  --bg: #f2f2f2;
  --gray: #d9d9d9;
  --text: #222;
  --validado: #6DB500;
  --font: 'Instrument Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--font);
  color: var(--text);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 220px; /* respeita a sidebar */
  width: calc(100% - 220px);
  height: 80px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  z-index: 999;
}

/* BOTÃO VOLTAR */
.btn-voltar {
  text-decoration: none;
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
}

/* PERFIL */
.user-area {
  display: flex;
  align-items: center;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* FOTO */
.profile-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary);
}

.profile-container span {
  font-size: 14px;
  font-weight: 500;
}

.profile-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.profile-role {
  font-size: 12px;
  color: #666;
  display: block;
  margin-top: 2px;
}

.login-icon {
  color: var(--primary);
  font-size: 32px;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #eaeaea;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
}

.sair {
  margin-top: auto;
}

.topo-sidebar {
  display: flex;
  flex-direction: column;
}

.linha {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0 10px 0; /* 🔥 bem colado */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* LOGO */
.logo-img {
  width: 160px; /* ajusta o tamanho */
}



.menu a {
  text-decoration: none;
  color: #444;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

/* ITEM ATIVO */
.menu a.active {
  background-color: var(--primary);
  color: white;
}

/* ÍCONE */
.icon {
  font-size: 14px;
}

/* SAIR */
.sair a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.container {
  padding: 30px 60px;
  margin-left: 240px; /* empurra tudo pro lado */
  margin-top: 85px; /* espaço pro header */
}

.voltar {
  color: var(--primary);
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}

h1 {
  color: var(--primary);
  font-size: 26px;
  margin-bottom: 40px;
}

.conteudo {
  display: flex;
  gap: 150px; /* controla a distância entre os blocos */
}

.info {
  width: 40%;
}

.bloco {
  margin-bottom: 45px;
}

.bloco h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bloco p {
  font-size: 16px;
}

.status {
  color: var(--validado);
  font-weight: 500;
}

.lado-direito {
  width: 45%;
}

.lado-direito h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.comprovante {
  width: 70%; /* diminui o tamanho */
  aspect-ratio: 1 / 1;
  background-color: var(--gray);
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comprovante img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comentario {
  width: 70%; /* mesma largura do comprovante */
  background-color: var(--gray);
  padding: 15px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.4;
}