:root {
  --primary: #FF8800;
  --bg: #f2f2f2;
  --gray: #d9d9d9;
  --text: #222;
  --validado: #6DB500;
  --font: 'Instrument Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--font);
  color: var(--text);
}


h1 {
  color: var(--primary);
  font-size: 26px;
  margin-bottom: 40px;
}

.conteudo {
  display: flex;
  gap: 150px; /* controla a distância entre os blocos */
}

.info {
  width: 40%;
}

.bloco {
  margin-bottom: 45px;
}

.bloco h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bloco p {
  font-size: 16px;
}

.status {
  color: var(--validado);
  font-weight: 500;
}

.lado-direito {
  width: 45%;
}

.lado-direito h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.comprovante {
  width: 70%; /* diminui o tamanho */
  aspect-ratio: 1 / 1;
  background-color: var(--gray);
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comprovante img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comentario {
  width: 70%; /* mesma largura do comprovante */
  background-color: var(--gray);
  padding: 15px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.4;
}