@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  background-color: var(--bg-main);
  font-family: var(--font-primary);
}

/* HEADER */
.header-container {
  width: 90%;
  margin: 2.5rem auto;

  & .header-title {
    margin-left: 2rem;
    color: var(--primary);
  }

  & .header-go-back {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* MAIN */
.main-container {
  width: 70%;
  margin: 2.5rem auto;

  & label {
    color: var(--black);
    font-weight: 600;
    font-size: 1.25rem;
  }

  /* REGISTRATION FORM */
  & .registration-form-container {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;

    padding: 3.25rem 2.5rem;

    border-radius: .625rem;
    border: 3px solid var(--primary);

    /* FORM FIELDS */
    & .wrapper-container {
      display: flex;
      flex-direction: column;
      gap: 7.25rem;

      & .input-wrapper {
        display: flex;
        align-items: center;
        gap: .75rem;

        & input {
          width: 100%;
          padding: .75rem 1.125rem;

          background-color: var(--gray-light);
          border-radius: .625rem;
          border: none;

          color: var(--black);
          font-size: 1rem;
          font-weight: 500;

          &::placeholder {
            color: var(--black);
            opacity: .5;
          }

          &:focus {
            outline: 2px solid var(--gray-dark);
          }
        }

        /* INPUT DE ARQUIVO */
        & .file-container {
          position: relative;
          width: 100%;
          padding: .75rem 1.125rem;

          background-color: var(--gray-light);
          border-radius: .625rem;
          border: none;

          & input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

            margin: 0;
            padding: 0;
            display: block;
          }

          & .file-input-text {
            color: var(--black);
            opacity: .5;
          }

          & .file-input-button {
            position: absolute;
            top: 50%;
            right: .5rem;
            transform: translateY(-50%);

            background-color: var(--primary);
            border: none;
            border-radius: .625rem;
            padding: .5rem 1rem;

            color: var(--white);
            font-size: 0.875rem;
            font-weight: 600;
          }
        }
      }

      /* TEXTAREA */
      & .textarea-wrapper {
        display: flex;
        align-items: start;
        gap: .75rem;

        & textarea {
          width: 100%;
          padding: .75rem 1.125rem;

          background-color: var(--gray-light);
          border-radius: .625rem;
          border: none;

          color: var(--black);
          font-size: 1rem;
          font-weight: 500;
          font-family: var(--font-primary);

          &::placeholder {
            color: var(--black);
            opacity: .5;
          }

          &:focus {
            outline: 2px solid var(--gray-dark);
          }
        }
      }
    }

    /* ACTION BUTTONS */
    & .action-group {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5.5rem;

      & button {
        width: 100%;
        padding: .75rem;

        cursor: pointer;
        border-radius: .625rem;

        font-size: 1.25rem;
        font-weight: 600;
        font-family: var(--font-primary);

        &.outline {
          background-color: transparent;
          border: 3px solid var(--primary);
          color: var(--primary);
        }

        &.primary {
          background-color: var(--primary);
          border: 3px solid var(--primary);
          color: var(--white);
        }
      }
    }
  }
}